# large files dir
large-files/*

# Python bytecode

__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# pbf files
*.pbf

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log
logs/


# OS specific
.DS_Store
Thumbs.db
